<ion-view view-title="Events">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" name="name" ng-model="event.name" placeholder="Name Of The Event">
            </label>
            <label class="item item-input">
                <input type="text" name="description" ng-model="event.description" placeholder="Description">
            </label>
            <label class="item item-input">
                <input type="text" name="date" ng-model="event.date" placeholder="Date">
            </label>
            <button ng-click="save(event)" class="button button-block button-royal">Save</button>
        </div>
        <ion-list ng-repeat="event in events">
            <ion-item>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="http://doge2048.com/meta/doge-600.png">
                        <h2>{{event.name}}</h2>
                        <p>{{event.date}}</p>
                    </div>
                    <div class="item item-body">
                        <img class="full-image" src="http://cdn.doandroidsdance.com/assets/2013/01/EDMcrowd.jpg">
                        <p>{{event.description}}</p>
                        <p>
                            <a href="#" class="subdued">{{event.vote}} votes</a>
                            <a href="#" class="subdued">5 Comments</a>
                        </p>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#" ng-click="addVote(event)">
                            <i class="icon ion-thumbsup"></i>
                            Like
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-chatbox"></i>
                            Comment
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-share"></i>
                            Share
                        </a>
                    </div>

                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>