<ion-view view-title="Events">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="http://doge2048.com/meta/doge-600.png">
                <h2>Henry's Party</h2>
                <p>December 31, 2014</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="http://cdn.doandroidsdance.com/assets/2013/01/EDMcrowd.jpg">
                <p>
                    Come to my party its gonna be freaking insane and there will be a ton of raving and I can not wait to have it.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
